
inputs/*
.Rproj.user/*
.Rproj.user/33CC174E/sources/session-15F4D4FA/807473F9
.Rproj.user/33CC174E/sources/session-15F4D4FA/807473F9-contents
.Rproj.user/33CC174E/sources/session-15F4D4FA/lock_file
.Rproj.user/33CC174E/sources/prop/29FF14A0
.RData
.Rhistory
